<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d

   # http://localhost/hive/1
   RewriteRule ^([^/]+)/([^/]+)/?$ index.php?resource=$1&id=$2 [L,QSA] 

   # http://localhost/hive
   RewriteRule ^([^/\.]+)/?$ index.php?resource=$1 [L]
</IfModule>
