services:
  web:
    build:
      context: .
    container_name: bee_api
    ports:
      # 80:80 -> first port is local, second is in the container
      - "80:80"
    volumes:
      - .:/var/www/html

    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=bee_db
  db:
    image: mysql
    container_name: bee_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bee_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
